**/.dockerignore
**/.gitignore
**/.vscode
**/.vs
**/.git
**/launchSettings.json
**/Dockerfile
**/node_modules/
**/dist/
**/bin/
**/obj/
**/shell/
**/kube/
**/README.md
**/readme.md
**/LICENSE
**/license
